<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inspect with Chi</title>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font-family: 'Segoe UI',Arial,'Microsoft Yahei',sans-serif;
      padding: 0 20px;  
      font-size: 13px;
    }
    img {
      flex-shrink: 0;
      height: 16px;
      padding-left: 2px;
      padding-right: 5px;
      vertical-align: top;
      width: 23px;
    }
    .content-header {
      background: linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
      border-bottom: 1px solid #eee;
      font-size: 150%;
      padding: 20px 0 10px 0;
      z-index: 1;
    }
    .row {
      padding: 6px 0;
      position: relative;
    }
    .properties-box {
      display: flex;
    }
    .subrow-box {
      display: inline-block;
      vertical-align: top;
    }
    .subrow {
      display: flex;
      flex-flow: row wrap;
    }
    .subrow > div {
      margin-right: 0.5em;
    }
    .url {
      color: #999;
    }
    .action {
      color: rgb(17, 85, 204);
      cursor: pointer;
      margin-right: 15px;
    }
  </style>
</head>
<body>
  <div class="content-header">Pages</div>
  {{#each targets}}
    <div class="row">
      <div class="properties-box">
        <img/>
        <div class="subrow-box">
          <div class="subrow">
            <div class="name">{{title}}</div>
            <div class="url">{{url}}</div>
          </div>
          <div class="actions">
            <a class="action" onclick="inspect('{{@key}}')">inspect</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  <script>
    !function(o,r){"function"==typeof define&&define.amd?define([],r):"object"==typeof module&&module.exports?module.exports=r():o._=r()}(this,function(){var _={};"object"==typeof window&&window._&&(_=window._);var isBrowser=_.isBrowser="object"==typeof window&&"object"==typeof document&&9===document.nodeType,objToStr=_.objToStr=(e=Object.prototype.toString,function(o){return e.call(o)}),e,isNode=_.isNode="undefined"!=typeof process&&"[object process]"===objToStr(process),random=_.random=function(o,r,t){null==r&&(r=o,o=0);var e=Math.random();return t||o%1||r%1?Math.min(o+e*(r-o+parseFloat("1e-"+((e+"").length-1))),r):o+Math.floor(e*(r-o+1))},randomBytes=_.randomBytes=function(exports){var crypto;return exports=function(o){for(var r=new Uint8Array(o),t=0;t<o;t++)r[t]=random(0,255);return r},isBrowser?(crypto=window.crypto||window.msCrypto,crypto&&(exports=function(o){var r=new Uint8Array(o);return crypto.getRandomValues(r),r})):isNode&&(crypto=eval("require")("crypto"),exports=function(o){return crypto.randomBytes(o)}),exports}({});return _.uuid=function(o){o=function(){var o=randomBytes(16);return o[6]=15&o[6]|64,o[8]=63&o[8]|128,r[o[0]]+r[o[1]]+r[o[2]]+r[o[3]]+"-"+r[o[4]]+r[o[5]]+"-"+r[o[6]]+r[o[7]]+"-"+r[o[8]]+r[o[9]]+"-"+r[o[10]]+r[o[11]]+r[o[12]]+r[o[13]]+r[o[14]]+r[o[15]]};for(var r=[],t=0;t<256;t++)r[t]=(t+256).toString(16).substr(1);return o}({}),_});
  </script>
  <script>
    function inspect(id) {
      const url = `/front_end/chi_app.html?ws=${location.host}/client/${_.uuid()}?target=${id}`;
      window.open(url, '_blank');
    }
  </script>
</body>
</html>